.contact-form {
    width: 100%;
    height: 100%;

    outline: none;
    text-align: center;
}

.title-form {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    /* text-align: center; */
    color: var(--color-nav-and-title);
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
}

.form-label+.form-label {
    margin-top: 10px;
}

.form-svg-imput {
    position: relative;

    margin-top: 4px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    transition: border-color var(--animetion-time-func);
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: var(--color-nav-and-title);
}

.contact-form-coment {
    width: 100%;
    height: 117px;
    resize: none;
    padding: 12px 16px;

    margin-bottom: 20px;
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--animetion-time-func);
}

.contact-form-input:focus,
.contact-form-coment:focus {
    border-color: var(--color-accent);
    outline: none;
}

.contact-form-input:focus+.form-icon {
    fill: var(--color-accent);
}

.contact-form-coment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-contract-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-icon-checkbox-active {
    display: none;
    margin-right: 7px;
}

.form-icon-checkbox {
    margin-right: 7px;
    fill: var(--color-nav-and-title);
}

.text-accent {
    color: var(--color-accent);
}

.form-contract:checked~.form-icon-checkbox-active {
    display: block;
}

.form-contract:checked~.form-icon-checkbox {
    display: none;
}

.contact-form .btn-accent {
    padding: 10px 52px;
}